/* Jott.ly Stylesheet
    
  Purpose: Bloc 
  Author: Anika Jaffara
  Version: 1.0.0

  Colors:
		#e5dfc6
		#dc143c
		#7f7c6e

  Fonts:
    font-family: 'Open Sans', Helvetica, sans-serif;

  Index:
    1. GLOBAL STYLES
	2. TYPOGRAPHY
	3. HEADER
	4. MAIN CONTENT
	5. FOOTER
	6. SOCIAL MEDIA
	7. MEDIA QUERIES



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1. GLOBAL STYLES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
	background: #e5dfc6;
	margin: 0;
	font-size: 1em;
	font-family: Nexa, Helvetica, Arial, sans-serif;
	-moz-box-sizing: border-box;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
2. TYPOGRAPHY
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h1 {
	color: #7f7c6e;
	font-size: 9rem;
	font-weight: 500;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5rem;
	margin-bottom: -.7rem;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

h2 {
	color: #dc143c;
	display: block;
	margin-left: 5%;
	font-weight: 900;
	text-shadow: 2px 2px 2px rgba(127, 124, 110, .9);	
}

h3 {
	color: #dc143c;
	display: inline-block;
	margin-left: 10%;
	margin-right: 10%;
	font-weight: 900;
	text-shadow: 2px 2px 2px rgba(127, 124, 110, .8);	
}

h4 {
	color: #7f7c6e;
	font-size: 3em;
}

h5 {
	color: #f9fbf2;
	font-style: italic;
	font-size: 8.5rem;
	font-weight: 400;
	margin-top: 65rem;
	margin-right: 5%;
	text-transform: uppercase;
	text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, .6);
	text-align: center;
}

h6 {
	color: #fff;
	text-align: center;
	font-size: 1.3rem;
	margin-top: .5%;
	margin-bottom: -.5%;
} 

p {
	color: #fff;
	display: inline-block;
	font-size: 2rem;
	text-align: justify;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 4%;
	margin-bottom: 50%;
	line-height: 1.7;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
3. HEADER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.HeroHeader {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: 50% 20%;
	background: url('../images/hero.png') no-repeat 50% 40% / cover;
	height: 100vh;
}

.HeaderNav ul li {
	list-style-type: none;
	margin-top: 2%;
	margin-right: 5%;
	float: right;
}

.HeaderNav ul li a {
	color: white;
	text-decoration: none;
	font-size: 1.7rem;
	font-weight: 500;
	box-sizing: border-box;
}

.JottlyLogo {
	margin-top: 8%;
	margin-left: 4.5%;
}

.Tagline {
	margin-left: 5%;
}

.button {
	color: #fff;
	font-size: 1.5rem;
	background-color: #dc143c;
	margin-top: 5%;
	margin-left: 5%;
	box-shadow: 0 8px 16px -8px rgba(0, 0, 0, .8);
	border: none;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
4. MAIN CONTENT
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/	
.container {
	display: inline;
}

.ContentOne {
	background: transparent url('../images/CollabCompu.png') no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
/*	height: 100vh;*/
}

.ContentOne .row{
	margin-bottom: 0;
}

.ContentTwo {
	background: url('../images/LiveCollab.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	/*height: 100vh;*/
}

.ContentThree {
	background: url('../images/CollabDesign.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
/*	height: 100vh;*/
}

.ContentFour {
	background: linear-gradient(to bottom, transparent, #e5dfc6 100%), url('../images/FunCollab.png');
	background-position: 50% 20%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	text-align: center;
}	

.Feature {
	background-color: rgba(229, 223, 198, .6);
	height: 100vh;
}

.AppMock {
	display: inline-block;
	margin-bottom: -2.3%;
}

form {
	background-color: rgba(127,124,110, .3);
    text-align: center;
    padding: 1.5% 0 1%;
    border-radius: 10px;
}

.Email {
    padding: 1% 0 1.5%;
}

.Email form {
    margin: 0;
}

.Email form input {
    display: inline;
    width: 75rem;
    border-radius: 4px;
    padding: 1rem;
}

.Email form button {
    color: #fff;
	font-size: 1.5rem;
	background: #dc143c;
	margin-top: 1.5%;
	margin-left: 1.5%;
	padding-top: .5%;
	padding-bottom: 3.6%;
	box-shadow: 0 8px 16px -8px rgba(0, 0, 0, .8);
	border: none;
}

input {
	font-size: 2em;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
5. FOOTER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.FooterContent {
	text-align: center;
}

.JottlyIcon {
	margin-top: 4%;
}

.FooterNav {
	display: block;
}

.FooterNav ul li {
	display: inline-block;
	list-style-type: none;
}

.FooterNav ul li a{
	color: #7f7c6e;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .4);
	font-size: 1.7rem;
	font-weight: 800;
	margin-top: 10%;
	display: inline-block;
	padding: 1.5rem;
}

.Copyright {
	background-color: #dc143c;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
6. SOCIAL MEDIA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.Social {
}

.SocialLinks ul li {
	list-style-type: none;
	display: inline-block;
}

.SocialLinks ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 4rem;
	font-weight: 500;
	display: inline-block;
	padding: 4rem;
	margin: auto;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
7. MEDIA QUERIES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (max-width: 965px) {
	.Email form input {
	    width: 60rem;
	    border-radius: 4px;
	    padding: 1rem;
	}
}

@media (max-width: 810px) {
	.HeaderContent {
		text-align: center;
		margin-top: 20%;
	}
	.button {
		margin-top: 8%;
	}
}

@media (max-width: 775px) {
	h5 {
		display: none;
	}
	h3 {
		font-size: 3rem;
	}
}

@media (max-width: 768px) {
	.Email form input {
	    width: 45rem;
	}
	.Email form input {
	    width: 42rem;
	    border-radius: 4px;
	    padding: 1rem;
	}
}

@media (min-width: 620px) {
	.AppMock {
		margin-top: 22%;
		margin-bottom: -2.3%;
	}
	.AppMock2 {
		display: none;
	}
}
@media (max-width: 620px) {
	.AppMock {
		display: none;
		margin-top: 45%;
		margin-bottom: -2.3%;
	}
	.AppMock2 { 
		display: inline-block;
		margin-top: 45%;
		margin-bottom: -2.3%;
	}
}

@media (max-width: 530px) {
	h1 {
		font-size: 6rem;
	}
	.Tagline {
		font-size: 2.8rem;
	}
	h3 {
		font-size: 2.4rem;
	}
	.SocialLinks ul li a {
		padding: 2rem;
	}
	.HeroHeader {
		max-height: 650px;
	}
}

@media (max-width: 450) {
	.Tagline {
		font-size: 2.8rem;
	}
	.SocialLinks ul li a {
	padding: 1.5rem;
	}
}


